body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}
/* Navbar START */
.navbar{
   margin: 14px;
   padding: 18px; 
   position:fixed;
   background-color: rgba(255, 255, 255, 0.539);
   width: 97.3vw;
   box-shadow: 0px 5px 5px 0px  rgb(81, 80, 80);
}

.navbar a{
    margin: 12px;
    padding: 12px;
    font-size: 18px;
    text-decoration: none;
    color:#2A303F;
}

.navbar a:hover{
    color: green;
}
/* navbar END */


/* Header START */
.poster{
    background-image: url("https://github.com/WarmSurface/template_example/blob/main/images/main-poster.jpg");
    background-size: cover;
    background-position:center;
    width:88vw;
    height: 65vh;
    margin: auto;
    padding: 100px;
    padding-bottom: 70px;
    
}

.content{
    text-align: center;
    color: white;
    padding: 200px;
    font-size: large;
    background-color: rgba(0, 128, 0, 0.224);
}
/* header END */

/* Journal START */
.journal{
    margin: auto;
    padding: 12px;
}

.border{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title{
    text-align: left;
    margin: 12px;
}

.box{
    margin: 12px;
    padding: 12px;
    width: 20%;
    height: 10%;
    text-align: center;
}

.box:hover{
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0, 70, 0, 0.400);
    background-color: rgba(0, 128, 0, 0.224);
    transition: 0.5s;
}

.box img{
    width: 360px;
    height: 200px;
    margin: 12px;
    padding: auto;
}

.box a{
    color: #2A303F;
}
/* Journal END */

/* About START */
.about{
    text-align: center;
    font-size: large;
    word-spacing: 0.5mm;
    padding: 22px;
    margin: 12px;
    margin-left: 18%;
    width: 60%;
    background-color: rgba(0, 128, 0, 0.224);
    border-radius: 5px;
}
/* About END */

/* Search START */
.searchbar{
    background-image: url("/home/kali/DeadPool/Projects/html_templates_2/images/search-bg.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    width: 88vw;
    height: 60vh;
    margin: 12px;
    padding: 100px;
}

.in{
    margin: 12px;
    padding: 90px;
    width: 80%;
    margin-top: 130px;
    margin-left: 2cm;
    text-align: center;
    background-color: #a6aeb26b;
}

.in input{
    margin: 12px;
    padding: 12px;
    font-size: 18px;
    border: none;
    width: 60%;
}

.in button{
    margin: 12px;
    padding: 13px;
    width: 10%;
    font-size: 18px;
    color: white;
    background-color:#d7c4aa;
    border: 3px solid #d7c4aa;
    border-radius: 3%;
}

.in button:hover{
    border:3px solid #d7c4aa;
    color: #d7a256;
    background-color: white;
    box-shadow: 0px 5px 5px 0px #d7c4aa;
    transition: 0.5s;
}
/* Searchbar END */

/* Note START */
.note{
    margin: 12px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.notebox{
    border: 1px solid black;
    margin: 12px;
    padding: 12px;
    padding-top: 30px;
    width: 30%;
    height: 30vh;
    text-align: center;
} 

.notebox a{
    color: #2A303F;
}

.notebox.a{
    background-image: linear-gradient(rgb(248, 47, 47),rgb(255, 75, 105));
}
.notebox.b{
    background-image: linear-gradient(rgb(234, 153, 3),rgb(201, 173, 48));
}
.notebox.c{
    background-image:linear-gradient(rgb(2, 202, 2),rgb(78, 213, 119));
}
/* Note END */

/* Moto START */
.moto{
    text-align: center;
    font-size: large;
    word-spacing: 0.5mm;
    padding: 22px;
    margin: 12px;
    margin-left: 18%;
    width: 60%;
    background-color: #a6aeb299;
    border-radius: 5px;
}
/* Moto END */

/* Package START */
.package{
    margin: auto;
    padding: 12px;
}

.upperpackage{
    text-align: center;
}

.upperpackagebox{
    margin: 12px;
    margin-left: 10%;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.innerpackagebox{
    margin: 20px;
    padding: 12px;
    /* background-color: rgb(0, 128, 0, 0.224); */
    border: 2px solid rgb(40, 40, 40);
    width: 22vw;
    height: 70vh;
    text-align: center;
}

.innerpackagebox:hover{
    border: 2px solid #d7c4aa;
    box-shadow: 0px 5px 5px 0px #d7c4aa;
    transition: 0.3s;
}

.innerpackagebox img{
    width: 360px;
    height: 200px;
    border-radius: 5px;
    margin: 12px;
    margin-top: 50px;
    padding: auto;
}

.innerpackagebox hr{
    height: 0.1mm;
    color: rgba(0, 0, 0, 0.377);
}

.innerpackagebox a{
    margin: 12px;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color:#d7c4aa;
    border: 1px solid #d7c4aa;
    border-radius: 3%;
}

.innerpackagebox a:hover{
    border:1px solid #d7c4aa;
    color: #d7a256;
    background-color: white;
    box-shadow: 0px 5px 5px 0px #d7c4aa;
    transition: 0.5s;
}

/* Package END */

/* Footer START */
.footer{
    margin: 12px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #a6aeb26b;
}

.credit{
    width: 40%;
    margin: 12px;
    padding: 12px;
}
.credit a{
    margin: 12px;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.social img{
    width: 35px;
}

.contact{
    margin: 12px;
    padding: 12px;
    width: 40%;
}
.contact p{
    float: right;
}

/* Footer END */
